<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_for @post do |f| %>

  <div class="row collapse">
    <div class="small-3 colums">
      <%= f.label :title, class: "rigt inline", title: "Minimum 40 characters", data: {tooltip: true } %>
    </div>
      <div class="small-9 column">
        <%= f.text_field :title %>
        </div>
    </div>

    <div class="row collapse">
      <div class="small-3 colums">
        <%= f.label :description, class: "rigt inline", title: "Minimum 150 characters", data: {tooltip: true } %>
      </div>
      <div class="large-9 column">
        <%= f.text_area :description %>
      </div>
    </div>

  <div class="row collapse">
    <%= f.submit "Submit", class: "border radius"%>
  </div>

  <% end %>
