<h3><%= @post.title %></h3>

<div>
  Location: <%= @post.description %>
</div>

<% if @response.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@response.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

<%= form_for [@post, @response] do |f| %>
<div>
  <%=f.label :message %>
  <%= f.text_area :message %><br>
  <%= f.submit "Submit" %>
</div>
<% end %>

<% @post.responses.each do |response| %>
  <li><%= response.message %></li>
<% end %>
