<h3>Question: <%= @post.title %></h3>

<div>
  Description: <%= @post.description %>
</div>

<% if @response.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@response.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <%= form_for [@post, @response] do |f| %>
    <div>
      <%=f.label :message %>
      <%= f.text_area :message %><br>
      <%= f.submit "Submit" %>
    </div>
    <% end %>
    <h4> Answers </h4>
    <table>
      <% @post.responses.each do |response| %>
      <li><ul><%= response.message %></li></td>
        <%= link_to 'Destroy', [response.post, response],
        method: :delete, data: { confirm: 'Are you sure?' } %></ul></li>
        <% end %>
      </table>
      <%= link_to 'View all questions', posts_path %> |
      <%= link_to 'Edit Question', edit_post_path(@post) %> |
      <%= link_to 'Delete This question', post_path(@post),
      method: :delete, data: { confirm: 'Are you sure?' } %>
