<h3><%= @post.title %></h3>

<div>
  Location: <%= @post.description %>
</div>

<% @messages.each do |mess| %>
<li><%= mess.message %></li>
<% end %>

<%= form_for [@post, @response] do |f| %>
<div>
<%=f.label :message %>
<%= f.text_field :message %>
<%= f.submit "Submit" %>
</div>
<% end %>
