<h3><%= @post.title %></h3>

<div>
  Location: <%= @post.description %>
</div>

<%= form_for [@post, @response] do |f| %>
<div>
  <%=f.label :message %>
  <%= f.text_area :message %><br>
  <%= f.submit "Submit" %>
</div>
<% end %>

<% @post.responses.each do |response| %>
  <li><%= response.message %></li>
<% end %>
