<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="name">
  <ul id= "nav">
    <li>
      <%= link_to "Add a Post", new_post_path %>
    </li>
  </ul>
</div>

<% if flash.any? %>
<div>
  <%= notice %>
</div>
<% end %>

<%= yield %>

</body>
</html>
